;;; public entries -*- mode: plstore -*- 
(("%28%22en.greek%23holiday%40group.v.calendar.google.com%22%20org-gcal%29%0A" :secret-access-token t :secret-refresh-token t :secret-expiration t)
 ("%28%22rharv99%40gmail.com%22%20org-gcal%29%0A" :secret-access-token t :secret-refresh-token t :secret-expiration t))
;;; secret entries
"-----BEGIN PGP MESSAGE-----

jA0ECQMCrAEuiCXQsDz/0ukBQM3iv2SpR8peim/wz5sgL7t2BLRjIt2bQafT9FrS
l4/DEOC+/YOJyUznDXIhav5YtttjPe7V1skSaLxFWyyCF9YKq5oYQI201xDtn/0R
fKFCphJt+JnOe8MWRCEV5GyscEZZ+k3H7g7jPEScScQ63f9kpdtysYUO6QJBVs/x
t0bWCzdMGvGNKxT+iK1DDWY04H1zgeYP6BPficPXe9nNQMWliP8FzaMO64kznGN6
j1z0GVnClvp2CDJfz8m+D+vPyyHBGw/ytywTVjxoid9WqsqfwJ5vhj6D98+FSZf1
csMwEldFl2nVqsxrdp8V1yeKpJnLuoIDanTa0qtsFCvGD1FWQge0sBQysDCF3LDX
GpRMbf28GGvh8TXYe5skaOA0mTCQlHDFSwQwO0qk2B3x2eLAqaeVcASLHNv59dpC
ooS6G+EjoT/yezFrUdSwpsFW9NUTVSBxtVb/EumXz3CtC60v8qI0nan1Bbhho7jG
WDlGGOG71+PcjJjYE9yCJiMC9n5YeiNQgti9vXXG0u+JaINfujpo56ExKfM8JgmX
iDArV+pb1qmG5vdkxMYBIMZKvY0jBa7b6fgeJIF3QCK0XP+wZJcdkOgJhzE0l+wu
fNDK1g3Yl1HIq0y5b4MoB2JE5AuH+79fsQ2TK1rjwXz9asiLjVHiRFFP8NEo1u74
8rQ3ZUHuZ/fMh77g/bNr1LcsiAInlcpiXoS1VDorYgXJFvnD6AwkpuCRwos38PZr
jc8aijv9qoYHzYwqFVAcB2gIub0Pkq1hR2tZAYixDRARduEfNEbrxl/ZeQv99S18
Kl1DUGlKV3FURYGyRJlEQLVNnJoWs8SQXmpj4mwmZTV2Ft6/RKiM+ErlTmYl2KfI
Bx490VaVLIZCSHh+Yb7Jlr3pE/q7+MFKBvZdrkD6TS5QGsrKiW4=
=/VFM
-----END PGP MESSAGE-----
"
